.navbar {
    & {
        background-color: rgb(37, 37, 37);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
    }
    * {
        margin-left: 1rem;
        margin-right: 1rem;
        font-family:monospace;
    }
}
nav a {
    & {
        font-size: 1rem;
        transition: 500ms;
    }
    &:hover {
        transition: 500ms;
        animation: 750ms ease-in-out 0s infinite alternate underliner;
    }
    &:active {
        text-decoration: underline;
    }
}

@media screen and (max-width: 760px) {
    .navbar {
        & {
            flex-direction: column;
            height: auto;
            padding: 10px;
            gap: 10px;
        }
    }    
}

@media screen and (prefers-color-scheme: light) {
    .navbar {
        & {
            background-color: rgb(212, 212, 212);
        }
    }
    nav a {
        & {
            color: rgb(20, 20, 20);
        }
    }
}

@keyframes underliner {
    0% {
        text-decoration: none;
        transition: 500ms;
    }
    50% {
        text-decoration: underline;
        transition: 500ms;
    }
    100% {
        text-decoration: none;
        transition: 500ms;
    }
}