.research {
    & {
        background-color: rgb(39, 39, 39);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        margin-top: 2em;
    }
}

.research-group {
    display: grid;
    place-items: center;
    gap: 2em;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    align-items: center;  
}

.research-project {
    & {
        width: 60%;
        background: linear-gradient(137deg, rgb(138, 172, 17), rgb(17, 150, 110));
        border-radius: 10px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 50px;
        height: 400px;
    }
}

.research-vert {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: fit-content;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 61.25%;
}

.research-paper {
    & {
        background-color: rgb(87, 87, 87);
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }
    * {
        margin-left: 20px;
    }
}

.view-past-papers {
    & {
        background: linear-gradient(147deg, rgb(14, 83, 161), rgb(4, 12, 134));
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }
    * {
        margin-left: 20px;
    }
}

.view-past-papers .right-arrow {
    margin-top: 40px;
    margin-left: 10px;
    transform: translateY(6px);
}

.research a {
    transition: 500ms;
    text-decoration: none;
}

.research a:hover {
    transform: scale(1.01);
}

.loading_research {
    background: linear-gradient(0deg, rgb(101,12,13),rgb(111, 12, 13));
    transition: 500ms !important;
}

.could-not-find {
    background: linear-gradient(36deg, rgb(101, 65, 12),rgb(111, 96, 12));
    transition: 500ms !important;
}

.most-re {
    font-family: 'Playwrite NZ';
}

@media screen and (prefers-color-scheme: light) {
    .research {
        background-color: rgb(219, 218, 218);
        color: rgb(255, 255, 255);
    }
    .most-re {
        color: black;
    }
}