.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
}

ul {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    font-size: 2em;
}

.email:hover {
    color: rgb(221, 221, 221);
}

@media screen and (prefers-color-scheme: light) {
    .contact {
        background-color: rgb(194, 194, 194);
    }
    .email:hover {
        color: rgb(41, 41, 41);
    }
}

.contact h1 {
    text-align: center;
}
.contact p {
    text-align: center;
}